<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.dielsonsales.app.openpomodoro"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".PomodoroApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".presentation.PomodoroService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".presentation.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".presentation.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.SettingsActivity"/>
        </activity>
        <activity
            android:name=".presentation.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".presentation.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.MainActivity"/>
        </activity>
    </application>

</manifest>
